.links-of-author {
  margin-top: 20px;
}

.links-of-author a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: none;
  &:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
  }
}
