.footer {
  font-size: 14px;
  background: #232323;
  padding: 15px 0 10px;
  text-align: center;
  color: #888;
  font-size: 12px;
  line-height: 1.5;
  img { border: none; }
}
.footer-image {
    background: url(https://o7y8mvdbc.qnssl.com/tc/uploads/1804/270258596528.png) no-repeat 50%;
    height: 368px;
    z-index: -1;
    position: absolute;
    bottom: 63px;
    left:0;
    width:100%;
    pointer-events: none;
    z-index:1;
}
.footer-inner { text-align: center; }

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.powered-by,
.theme-info { display: inline-block; }

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}
