.site-meta {
  margin: 0;
  text-align: $site-meta-text-align;
  position:absolute;
  overflow: hidden;
  padding: 0 30px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  +mobile() { text-align: center;display:none; }
}

.brand {
  position: relative;
  display: inline-block;
  padding:10px 0;
  color: $brand-bg;
  border-bottom: none;
}

.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}

.site-title {
  font-family: "Lobster Two";
  display: inline-block;
  vertical-align: top;
  line-height: 60px;
  font-size: 60px;
  color: #fff;
  font-weight: normal;
  transition: all .2s;
  &::after{
        content: "";
        position: absolute;
        left: 60%;
        bottom: 40%;
        width: 80%;
        height: 80%;
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://b-gold-cdn.xitu.io/v3/static/img/cap.12a740a.svg);
        transform-origin: bottom right;
    }
  +mobile() { display:none; }
}

.site-subtitle {
  margin-top: 10px;
  font-size: $subtitle-font-size;
  color: $subtitle-color;
}

.use-motion {
  .brand { opacity: 0; }

  .logo, .site-title, .site-subtitle {
    opacity: 0;
    position: relative;
    top: -10px;
  }
}
