
@require "theme"
@require "diff"

// Placeholder: $code-block
$code-block {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size $code-font-size;
  color: $highlight-foreground ;
  background: #2d2d2d;
  line-height: $line-height-code-block;
}

$code-block-pre {
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
  font-size $code-font-size;
  color:#24292e;
  background: #f6f8fa;
  line-height: $line-height-code-block;
}

pre, code {   font-family:  Consolas, Menlo; /*设置代码字体*/ }

code {
  padding: .2em .4em;
  word-wrap: break-word;
  color: #378e81;
  background-color: #e4f5ef;
  border-radius: $code-border-radius;
  font-size $code-font-size;
  margin:0 3px;
}

pre {
  @extend $code-block-pre;
  code {
    padding: 0;
    color: #24292e;
    background: none;
    text-shadow: none;
  }
}
.highlight-wrap[data-rel] {
  padding-top:36px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.4);
  margin: 35px 0;
  ::-webkit-scrollbar {
    height: 10px;
  }
  ::selection {
      color: #fff;
      background: #d25462;
      text-shadow: none;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  &::before {
    color: white;
    content: attr(data-rel);
    height: 38px;
    line-height: 38px;
    background: #21252b;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 0px 80px;
    text-indent: 15px;
    float: left;
  }
  &::after {
    content: " ";
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    top: 0;
    left: 20px;
    margin-top: 13px;
    -webkit-box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    z-index: 3;
  }
}
.highlight {
  @extend $code-block;
  background: #2d2d2d;
  margin: 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.4px;
  pre {
    border: none;
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
  }

  table {
    margin: 0;
    width: auto;
    border: none;
  }
  .post-content .entry .highlight table tbody {
      padding: 15px 20px;
      display: block;
  }
  .post-content .entry .highlight table {
    margin: initial;
    border: none;
    min-width: 100%;
    outline: 0;
    }
  td {
    border: none;
    padding: 0;
  }

  figcaption {
    clearfix();
    font-size: 1em;
    color: $highlight-foreground;
    line-height: 1em;
    margin-bottom: 1em;

    a {
      float: right;
      color: $highlight-foreground;

      &:hover { border-bottom-color: $highlight-foreground; }
    }
  }

  .gutter pre {
    padding-left: 10px
    padding-right: 10px
    color: #666
    text-align: right
    background-color: #2d2d2d
  }

  .code pre {
    width: 100%
    color: #ccc
    padding-left: 10px
    padding-right: 10px
    background-color: #2d2d2d
  }

  .line { height: 20px; }
}


.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gist table {
  width: auto;

  td { border: none; }
}

// For diff highlight
pre .deletion { background: $highlight-deletion; }
pre .addition { background: $highlight-addition; }
pre .meta     { color: $highlight-purple; }

pre {

  .comment { color: #6a737d; }

  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo {
    color: #f2777a;
  }

  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
  .command {
    color: #d73a49;
  }

  .ruby .class .title
  .css .rules .attribute
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
  .special
  .number
  .formula {
    color:  #ffa7c4;
  }

  .title
  .css .hexcolor {
    color: #6f42c1;
  }

  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title {
    color: #005cc5;
  }

  .keyword
  .javascript .function {
    color: #e36209;
  }

}
