.posts-expand {
  .post-eof {
    display: block;
    margin: 30px auto 30px;
    width: 8%;
    height: 1px;
    background: none;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
