.post-copyright {
  list-style: none;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 14px;
  -webkit-transition: box-shadow .3s ease-in-out;
  -moz-transition: box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  -ms-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;


}
