.posts-expand .post-title {
  text-align: center;
  word-break: break-word;
  color: #444;
  font-size: 24px;
  font-weight: 700;
}
.post-title-link span:hover{
  color:#FE9600;
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: #504e4e;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
  transition: all 0.3s;
  &:hover {
    color: #FE9600;
  }

  .fa { font-size: 16px; }
}
