.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    margin-right: .2rem;
    padding: .1rem .5rem;
    border: 1px solid #B3B3B3;
    border-radius: .6rem;
    background: #fff;
    color: #B3B3B3;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover{
      border-color:#FF7D7D;
      color:#fff;
      background:#FF7D7D;
    }
  }
}
