 .container .main-inner, .footer-inner {
  +mobile() { width: auto; }
}
.header-inner {
  +mobile() { width: 100%; }
}

// embed tag
embed {
   display: block;
   margin:  0px auto 25px auto;
}
